.mapBox{
    box-sizing: border-box;
    margin: 5px;
    position: relative;
    padding: 0;
  }

  .go-to-top{
    right: 10px;
    bottom: 10px; 
    position: absolute;
    z-index: 10000;
    font-size: 15px;
    color: #01000a;
    font-weight: bold;
}

#live-location-btn{
    right: 10px;
    top: 50px; 
    position: absolute;
    z-index: 10000;
}





